<h1>{{photos.length}} Photos</h1>
<div class="row">
    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3 col-andy">
        <div class="card adding">
            <!-- <span class="icon-focus"></span> -->
            <p class="addPhoto" ng-click="toggleAddPhoto()">Add photo</p>
        </div>
    </div>
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3 col-andy" ng-repeat="photo in photos">
            <div class="card" ui-sref="photo">
                <div class="image"><img src="{{photo.url}}"></div>
                <div class="nav">
                    <span><i class="fa fa-cog" aria-hidden="true"></i></span>
                    <!-- <div class="detail"></div> -->
                </div>
            </div>
        </div>
</div>
<div class="andy-modal" ng-if="getModal">
    <div class="andy-modal-body">
        <h1>Add photo</h1>
        <form ng-submit="addNewPhoto()">
            <input type="text" ng-model="newPhoto.url">
        </form>
    </div>
</div>
